#signinform-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

#signinform-wrapper h1 {
  margin-top: 0px;
  margin-bottom: 0px;

  text-align: center;
  font-size: 70px;
  color: rgb(0, 42, 92);
}

#signinform-wrapper h2 {
  margin-top: 0px;
  margin-bottom: 30px;

  text-align: center;
  font-size: 35px;
}

#signinform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signinform-labels {
  margin-top: 15px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.signinform-fields {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;

  background-color: #f1f1f1;
  border-color: #999999;
  border-style: solid;
  border-radius: 5px;
}

.signinform-fields:focus {
  outline: none;
}

#signin-error {
  color: red;
}

#signin-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #59c7ff;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 20px;
}

#signin-btn:hover {
  background-color: #3da7dd;
  cursor: pointer;
}

#signin-btn:focus {
  outline: none;
}

#credits-link {
  margin-top: 40px;
}
