#profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#img-btn {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;

  background-color: rgb(0, 42, 92);
  border: none;
  border-radius: 50px;
  outline: none;
}

#img-btn:hover {
  background-color: #5e8de9;
  cursor: pointer;
}

#visibility {
  color: white;
}

#visibility:focus {
  outline: none;
}

.profile-input {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 300px;
  font-family: Arial;
  resize: none;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#profile-picture {
  height: 120px;
  width: 120px;
  border-radius: 70px;
}

#button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100%;
}

#textarea-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textarea-save {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-save {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: rgb(0, 42, 92);
  color: white;
  border: none;
  border-radius: 30px;
}

.profile-save:hover {
  background-color: #5e8de9;
  cursor: pointer;
}

.profile-save:focus {
  outline: none;
}

#profile-name {
  color: black;
  font-size: 2em;
}

#profile-bio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#profile-bio {
  margin-bottom: 20px;
}

#profile-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.profile-tag {
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #f1f8ff;
  color: #0366d6;
  border: none;
  border-radius: 30px;
  font-size: small;
  font-weight: bold;
}

#profile-box {
  height: 300px;
}
